{{ define "main"}}
  {{ partial "page-header" . }}
  <section class="section-sm">
    <div class="container">
<div class="bg-theme-light dark:bg-slate-900 rounded p-8">
  <ul class="space-y-4">
    {{ $sections := getJSON "assets/sections.json" }}
    {{ range $sections.sections }}
    <li>
      <h1 class="dark:bg-slate-800 bg-gray-200 mb-2 px-0 py-0 pr-1 rounded">{{ .name }}</h1>
      <ul class="space-y-4">
        {{ $section := . }}
        <!-- Collect matching pages into a slice -->
        {{ $matchingPages := slice }}
        {{ range where $.Site.RegularPages "Section" "foundation-model-resources" }}
        {{ $sectionID := .Params.section_id | int }}
        {{ $sectionNumber := $section.number | int }}
        {{ if eq $sectionID $sectionNumber }}
        {{ $matchingPages = $matchingPages | append . }}
        {{ end }}
        {{ end }}
        <!-- Sort the slice by section_id -->
        {{ $sortedPages := sort $matchingPages "Params.section_id" "asc" }}
        {{ range $sortedPages }}
        <!-- Display content for matching pages -->
        <li>
          <h2 class="text-lg">{{ .Params.short_name }}</h2>
          {{ $data := getJSON "assets/resources.json" }}
          {{ $jsonData := where $data "categories" "intersect" (.Params.short_name | slice) }}
          <ul class="list-none p-0">
            {{ range $index, $entry := $jsonData }}
            <li class="flex items-start mb-6 bg-white dark:bg-slate-900 p-4 rounded">
              {{ if $entry.logo }}
              <img src="/images/gh-icons/{{ $entry.logo }}" alt="{{ $entry.name }}"
                   class="bg-white mr-5 ml-2 mt-4 w-16 h-16 rounded-full">
              {{ else }}
              {{ if eq $entry.primary_link "GitHub" }}
              <img src="/images/resource-icons/github-light.png" alt="{{ $entry.name }}"
                   class="mr-5 ml-2 mt-4 w-16 h-16 dark:invert rounded-full">
              {{ else if eq $entry.primary_link "Paper" }}
              <img src="/images/resource-icons/paper-light.png" alt="{{ $entry.name }}"
                   class="mr-5 ml-2 mt-4 w-16 h-16 dark:invert rounded-full">
              {{ else if eq $entry.primary_link "Webpage" }}
              <img src="/images/resource-icons/web-light.png" alt="{{ $entry.name }}"
                   class="dark:invert mr-5 ml-2 mt-4 w-16 h-16 rounded-full">
              {{ else if eq $entry.primary_link "Hugging Face object" }}
              <img src="/images/resource-icons/huggingface-light.png" alt="{{ $entry.name }}"
                   class="dark:inverse mr-5 ml-2 mt-4 w-16 h-16 rounded-full">
              {{ end }}
              {{ end }}

              <div style="width: 100%">
                <h3 class="flex items-center text-lg font-semibold">
                  {{ if eq $entry.primary_link "GitHub" }}
                  <a class="font-extrabold" href="{{ $entry.github_link }}" target="_blank">{{ $entry.name }}</a>
                  {{ else if eq $entry.primary_link "Paper" }}
                  <a class="font-extrabold" href="{{ $entry.paper_link }}" target="_blank">{{ $entry.name }}</a>
                  {{ else if eq $entry.primary_link "Webpage" }}
                  <a class="font-extrabold" href="{{ $entry.website_link }}" target="_blank">{{ $entry.name }}</a>
                  {{ else if eq $entry.primary_link "Hugging Face object" }}
                  <a class="font-extrabold" href="{{ $entry.huggingface_link }}" target="_blank">{{ $entry.name }}</a>
                  {{ end }}
                </h3>

                <p>{{ $entry.description | markdownify }}</p>

                {{ with $entry.license }}<p>License: {{ . }}</p>{{ end }}

<ul class="social-icons">
    {{ with $entry.paper_link }}
    <li>
        <a href="{{ . }}" target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">Download Paper</span>
            <i class="fas fa-file-alt icon"></i>
        </a>
    </li>
    {{ end }}

    {{ with $entry.huggingface_link }}
    <li style="vertical-align: bottom">
        <a href="{{ . }}" target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">Hugging Face</span>
            <img src="/images/resource-icons/huggingface.png" alt="Hugging Face" style="width:26px;">
        </a>
    </li>
    {{ end }}

    {{ with $entry.github_link }}
    <li>
        <a href="{{ . }}" target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">GitHub</span>
            <i class="fab fa-github icon"></i>
        </a>
    </li>
    {{ end }}

    {{ with $entry.website_link }}
    <li>
        <a href="{{ . }}" target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">Website</span>
            <i class="fas fa-globe icon"></i>
        </a>
    </li>
    {{ end }}

    {{ range $modality := $entry.modalities }}
    <li>
        {{ if eq $modality "Text" }}
            <span class="mr-3 bg-green-200 dark:bg-green-900 rounded px-3 py-1">
                <i class="fas fa-file-alt fa-lg pr-2"></i> Text
            </span>
        {{ else if eq $modality "Vision" }}
            <span class="mr-3 bg-yellow-200 dark:bg-yellow-900 rounded px-2 py-1">
                <i class="fas fa-eye fa-lg pr-2"></i> Vision
            </span>
        {{ else if eq $modality "Speech" }}
            <span class="mr-3 bg-fuchsia-200 dark:bg-fuchsia-900 rounded px-2 py-1">
                <i class="fas fa-microphone fa-lg pr-2"></i> Speech
            </span>
        {{ end }}
    </li>
    {{ end }}
</ul>

              </div>
            </li>
            {{ end }}
          </ul>
        </li>
        <!-- Add more content display as needed -->
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
</div>
    </div>
  </section>
{{ end }}
