<div class="bg-theme-light bg-green-400 rounded p-8">
  <ul class="space-y-4">
    {{ $sections := getJSON "assets/sections.json" }}
    {{ range $sections.sections }}
    <li>
      <h2 id="{{ .name | urlize }}" class="mb-4 px-0 py-0 pr-1 font-normal">{{ .name }}</h2>
      <ul class="space-y-4">
        {{ $section := . }}
        <!-- Collect matching pages into a slice -->
        {{ $matchingPages := slice }}
        {{ range where $.Site.RegularPages "Section" "foundation-model-resources" }}
        {{ $sectionID := .Params.section_id | int }}
        {{ $sectionNumber := $section.number | int }}
        {{ if eq $sectionID $sectionNumber }}
        {{ $matchingPages = $matchingPages | append . }}
        {{ end }}
        {{ end }}
        <!-- Sort the slice by section_id -->
        {{ $sortedPages := sort $matchingPages "Params.section_id" "asc" }}
        {{ range $sortedPages }}
        {{ $data := getJSON "assets/resources.json" }}
        {{ $filteredData := where $data "categories" "intersect" (.Params.short_name | slice) }}
        {{ $filteredDataVision := where $filteredData "modalities" "intersect" (slice "Vision") }}
        {{ $filteredDataText := where $filteredData "modalities" "intersect" (slice "Text") }}
        {{ $filteredDataSpeech := where $filteredData "modalities" "intersect" (slice "Speech") }}
        {{ $filteredDataVideo := where $filteredData "modalities" "intersect" (slice "Video") }}
        {{ $filteredDataTabular := where $filteredData "modalities" "intersect" (slice "Tabular") }}
        {{/* Add other modalities you want to count here */}}
        {{ $entryCount := len $filteredData }} {{/* Total count for this category */}}
        {{ $filteredDataVision := len $filteredDataVision }}
        {{ $filteredDataText := len $filteredDataText }}
        {{ $filteredDataSpeech := len $filteredDataSpeech }}
        {{ $filteredDataVideo := len $filteredDataVideo }}
        {{ $filteredDataTabular := len $filteredDataTabular }}
        <li class="flex items-start justify-between align-text-top">
<a class="hover:text-primary dark:hover:text-darkmode-primary flex items-start" href="{{ .Permalink }}"  style="width:100%">
    {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Size" "250x" "Command" "Resize" "Class" "m-0 pl-4 sm:hidden lg:inline") }}
    <div class="ml-4 flex flex-col justify-center"  style="width:100%"> <!-- Center text along vertical axis -->
        <div class="flex justify-between items-center"> <!-- Flex container for title and counters -->
            <h3 class="font-normal inline-block">{{ .Params.short_name }}</h3>
          <div class="flex text-right items-start sm:hidden md:block flex-nowrap"> <!-- Flex container for counters -->
            {{ if gt $filteredDataText 0 }}
            <span class="mr-3 text-green-700 rounded px-2 py-1 mb-4" style="text-wrap:nowrap">
                    <i class="fas fa-file-alt fa-lg pr-2"></i> Text {{ $filteredDataText }}
                </span>
            {{ end }}
            {{ if gt $filteredDataVision 0 }}
            <span class="mr-3 text-yellow-800 rounded px-2 py-1" style="text-wrap:nowrap">
                    <i class="fas fa-eye fa-lg pr-2"></i> Vision {{ $filteredDataVision }}
                </span>
            {{ end }}
            {{ if gt $filteredDataSpeech 0 }}
            <span class="mr-3 text-fuchsia-800 rounded px-2 py-1" style="text-wrap:nowrap">
                    <i class="fas fa-microphone fa-lg pr-2"></i> Speech {{ $filteredDataSpeech }}
                </span>
            {{ end }}
            {{ if gt $filteredDataVideo 0 }}
            <span class="mr-3 text-blue-700 rounded px-2 py-1" style="text-wrap:nowrap">
                     <i class="fas fa-video fa-lg pr-2"></i> Video {{ $filteredDataVideo }}
                </span>
            {{ end }}
            {{ if gt $filteredDataTabular 0 }}
            <span class="mr-3 text-purple-700 rounded px-2 py-1" style="text-wrap:nowrap">
                     <i class="fas fa-table fa-lg pr-2"></i> Tabular {{ $filteredDataTabular }}
                </span>
            {{ end }}
            {{/* Add other conditional spans here if needed */}}
          </div>
        </div>
        <p>{{ .Description }}</p>
    </div>
</a>
        </li>
        <!-- Add more content display as needed -->
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
</div>
